.hide{
    display: none;
}
header{
    padding: 0 30px 30px;
    background: linear-gradient(to right, #042e6f, #042e6f 50%,#f2f2f2 50%, #f2f2f2);
}
header .visual img{
    width: 100%;
}
header h1{
    position: absolute;
    left: 30px;
    top: 0;
    z-index: 31;
}
header >ul{
    display: flex;
    position: absolute;
    right: 30px;
    top: 0;
    width: 170px;
    background-color: #f2f2f2;
    z-index: 30;
}
header >ul li{
    flex: 1;
    padding: 0 0 0 18px;
    line-height: 70px;
    font-size: 12px;
}
header >ul li a:before{
    content: '';
    display: inline-block;
    width: 23px;
    height: 23px;
    vertical-align: middle;
    background: url(../img/icon.png) no-repeat;
}
header >ul li:nth-child(1) a:before{
    background-position: 0 0;
}
header >ul li:nth-child(2) a:before{
    background-position: -23px 0;
}
header #lnb{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    padding: 0 232px;
    box-sizing: border-box;
    z-index: 30;
}
header #lnb nav{
    position: relative;
    z-index: 30;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    text-align: center;
    font-size: 0;
}
header #lnb nav > ul {
    display: inline-block;
    height: 70px;
    overflow: hidden;
    transition: all 0.5s;
}
header #lnb nav > ul:hover{
    overflow: visible;
}
header #lnb nav + div {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 0px;
    padding: 0 30px;
    background-color: #042e6f;
    z-index: 29;
    opacity: 0;
    transition: all 0.5s;
    box-sizing: border-box;
    background-clip: content-box;
}
header #lnb nav:hover + div{
    height: 330px;
    opacity: 1;

}
header #lnb nav > ul > li{
    display: inline-block;
    position: relative;
}
header #lnb nav > ul > li > a{
    position: relative;
    display: block;
    width: 160px;
    height: 69px;
    font-size: 18px;
    color: #fff;
    line-height: 69px;
}
header #lnb nav > ul > li > a:after{
    content: '';
    width: 0;
    height: 2px;
    position: absolute;
    left: 50%;
    bottom: -1px;
    background-color: #fff;
    transition: all 0.5s;
}
header #lnb nav > ul > li:hover > a:after{
    left: 0;
    width: 100%;
}

header #lnb nav > ul ul{
    width: 100%;
    height: 230px;
    position: absolute;
    text-align: center;
    padding: 22px 0 0 0;
    opacity: 0;
    transition: all 0.5s;
}
header #lnb nav > ul:hover ul{
    opacity: 1;
}

header #lnb nav > ul ul li{
    line-height: 39px;
}
header #lnb nav > ul ul a{
    position: relative;
    font-size: 14px;
    color: #fff;
    transition: all 0.5s ;
}
header #lnb nav > ul ul a:hover{
    color: #2acef1;
}
header #lnb nav > ul ul a:after{
    content: '';
    width: 0;
    height: 2px;
    position: absolute;
    left: 50%;
    bottom: -7px;
    background-color: #2acef1;
    transition: all 0.5s;
}
header #lnb nav > ul ul a:hover:after{
    left: 0;
    width: 100%;
}